:root {
  --navbar-color: #53b7f1;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--navbar-color);
}

.navbar-logo {
  width: 2em;
  grid-column: 1;
  margin: 15px;
}
.navbar-items {
  grid-column: 2;
  display: flex;
  font-size: 0.8em;
  list-style-type: none;
  align-self: center;
  justify-self: end;
  margin-right: 10px;
}

.navbar-items li {
  padding: 5px;
  margin: 5px;
}
